<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm page</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/general.css" />
  </head>
  <body>
    <main class="section-confirm container">
      <h2 class="heading-primary">You are voting for</h2>
      <h2 class="heading-primary">
       
        <span><span><%=selectedcandid%></span></span>
      </h2>
      <br />

      <p class="usn_confirm margin_bot_2">Enter the id of candidate to confirm the vote:</h2>
      <form action="/confirm" method="post">
        <input
          class="input"
          type="text"
          placeholder="candidate voter id"
          name="confirmed"
        />
        <input type="text" class="input" name="confirmvoterid" placeholder="Your voter id"/>
        <button type="submit" class="submit_btn">Vote</button>
      </form>
      <p class="alert_confirm"><%=alert%></p>
    </main>
  </body>
</html>
