<%- include("partials/header"); -%>
<main>
  <section class="section-hero">
    <div class="container">
      <h1 class="heading-primary">
        A new way to do <span> Event voting online</span>
      </h1>
      <p class="hero-text">
        Voto is a online voting tool that helps you to condect voting for
        college events in a easy and a secure way.
      </p>
      <a class="btn get-started-btn" href="/signup">Get started</a>
    </div>
  </section>
  <section class="event-preview container">
    <img class="event_preview_img" src="css/Capture.png" alt="" />
  </section>
  <section class="section-about container">
    <div class="grid grid-col--2">
      <div class="about--text-box">
        <h2 class="heading-primary">About <span>Voto</span></h2>
        <p class="about--text">
          Welcome to our online voting platform Voto, where democracy thrives!
          Exercise your civic duty and cast your vote securely and conveniently
          from the comfort of your home. Your voice matters!"
        </p>
        <a class="btn sign-up-btn" href="/signup">Start using &gt;</a>
      </div>
      <div class="about--text-box">
        <img class="about--img" src="css/about-img.jpg" alt="" />
      </div>
    </div>
  </section>
</main>
<%- include("partials/footer"); -%>
