/* 
Design System
--- 01 Typography System

-- Font System (in px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- Font Weight: 
-Default : 400
Medium: 500
Semi-bold: 600
Bold: 700

-- Line Height: 
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter Spacing
-0.5px
0.75
--- 02 Color: 
- Primary Color: 

-  Tines: 
- Shades:  
- Greys: 
  #555
  #333
  #6f6f6f (lightest gray allowed on #fdf2e9)
- Accents: 


--- 03 Shadows:
normal: box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
hover: box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);

--- 04 Border Radius
default: 9px
medium: 11px

--- 05 WhiteSpace

--  Space System (in px): 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #151531;
  /* background-color: #fff; */
  background-image: linear-gradient(to bottom, #f7f7ff, #fcfcff);
}
.grid {
  display: grid;
}
.grid-col--2 {
  grid-template-columns: 1fr 1fr;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.4rem 2rem;
  text-decoration: none;
  border-radius: 9px;
}
.login-btn:link,
.login-btn:visited {
  box-shadow: inset 0 0 0 2px #6868f7;
  color: #6868f7;
  transition: all 0.2s;
}
.login-btn:hover,
.login-btn:active {
  background-color: #e1e1fd;
}

.sign-up-btn:link,
.sign-up-btn:visited {
  color: #fff;
  background-image: linear-gradient(to bottom, #6868f7, #4c40d9);
  transition: all 0.2s;
}

.sign-up-btn:hover,
.sign-up-btn:active {
  color: #fff;
  background-image: linear-gradient(to bottom, #7777f8, #5e53dd);
}

.heading-primary {
  color: #151531;
  letter-spacing: -0.02rem;
  margin-bottom: 2.4rem;
  font-size: 9.6rem;
  line-height: 1.2;
}

.heading-primary span {
  background: linear-gradient(to top, #4c40d9, #6868f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
